body{
  background-color: turquoise;
}

.question-box{
  text-align: center;
}

.question-button{
  padding: 10px;
  background-color: white;
  transition: 0.45s;
}

.question-button-right{
  padding: 10px;
  background-color: white;
  transition: 0.45s;
  animation: turnGreen 2s;
  animation-fill-mode: forwards;
}

.question-button-wrong{
  padding: 10px;
  background-color: white;
  transition: 0.45s;
  animation: turnRed 2s;
  animation-fill-mode: forwards;
}

@keyframes turnGreen {
  0% {background-color: white;}
  100% {background-color: greenyellow;}
}

@keyframes turnRed {
  0% {background-color: white;}
  100% {background-color: red;}
}